body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.calculator {
    border: 1px solid #000000;
    padding: 40px;
    border-radius: 20px;
    background-color: #d0d0d0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.display {
    width: 90%;
    height: 40px;
    margin: 0 auto 10px;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}
.button:active {
    background-color: #dcc;
}